<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container" style="width:90%;">
    <h2 style="color:#2575fc;">📊 Admin Dashboard</h2>

    <p style="text-align:right;">
        <a href="/logout">🚪 Logout</a>
    </p>

    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Message</th>
            </tr>

            {% for r in requests %}
            <tr>
                <td>{{ r.name }}</td>
                <td>{{ r.email }}</td>
                <td>{{ r.request_type }}</td>
                <td>{{ r.message }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>
</html>
